name: personal_notes_mobile  
description: "A new Flutter project for personal notes."
publish_to: 'none'

version: 1.0.0+2

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  sqflite: ^2.4.2
  path: ^1.9.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
 
  flutter_launcher_icons: ^0.14.4 

flutter:
  uses-material-design: true

  assets:
    - images/al.jpg
    - assets/icon.png 


flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/icon.png"
  min_sdk_android: 23